DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
UPLOAD_DIR="./public/uploads"
MAX_UPLOAD_SIZE_MB=10

# Future - PostgreSQL
# DATABASE_URL="postgresql://user:password@localhost:5432/defectflow"

# Future - Auth
# NEXTAUTH_SECRET=""
# NEXTAUTH_URL=""

# Future - S3
# S3_BUCKET=""
# S3_REGION=""
# AWS_ACCESS_KEY_ID=""
# AWS_SECRET_ACCESS_KEY=""
